<a href="https://colab.research.google.com/github/heikkimikkonen/DAO/blob/main/Final_Work_Mikkonen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install faker

Collecting faker
  Downloading Faker-30.3.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.3.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 26.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-30.3.0

In [4]:
from faker import Faker
import pandas as pd
import random
from datetime import datetime

# Initialize Faker
fake = Faker()

# List of car models
car_models = ['Model S', 'Model 3', 'Model X', 'Model Y', 'Cybertruck']

# Create empty list to hold data
data = []

# Function to generate net revenue
def generate_net_revenue():
    if random.random() < 0.05:  # 5% chance of being an outlier
        return random.randint(10000, 50000)
    else:
        return random.randint(100, 10000)

# Generate data
for _ in range(100):
    name = fake.name()
    city = fake.city()
    country = fake.country()
    sex = random.choice(['Male', 'Female'])
    age = random.randint(18, 80)

    num_products = random.randint(1, len(car_models))
    products_reviewed = random.sample(car_models, num_products)

    for product in products_reviewed:
        feedback = fake.text(max_nb_chars=200)
        net_revenue = generate_net_revenue()
        date = fake.date_this_decade(before_today=True, after_today=False)

        data.append({
            'Name': name,
            'City': city,
            'Country': country,
            'Sex': sex,
            'Age': age,
            'Product': product,
            'Feedback': feedback,
            'NetRevenue': net_revenue,
            'Date': date
        })

# Create DataFrame
df = pd.DataFrame(data)

# Save to Excel
df.to_excel('feedback_with_random_products.xlsx', index=False)

print('Data generated and saved to feedback_with_random_products.xlsx')

Data generated and saved to feedback_with_random_products.xlsx

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [6]:
import pandas as pd

df = pd.read_excel('/content/feedback_with_random_products.xlsx')
print(df.head())

              Name            City                        Country   Sex  Age  \
0  Patrick Johnson  Williamchester                        Senegal  Male   52
1  Patrick Johnson  Williamchester                        Senegal  Male   52
2   Monica Salinas     Robertsberg  Holy See (Vatican City State)  Male   43
3   Monica Salinas     Robertsberg  Holy See (Vatican City State)  Male   43
4    Steven Barnes      Murphystad           United Arab Emirates  Male   19

      Product                                           Feedback  NetRevenue  \
0     Model Y  Eight whether change detail whom happen. Natio...        9658
1     Model X  Instead education natural each particularly. P...        3849
2  Cybertruck  Try economic service while. Production station...        8533
3     Model S  Dream pass large one avoid offer. Focus boy fr...         876
4     Model 3  By buy month machine need of. Other rest every...        2358

        Date
0 2022-10-05
1 2020-08-31
2 2021-02-15
3 2020-12-28
4 2021-12-24

In [7]:
print(df.describe(include='all'))

                    Name       City Country     Sex         Age  Product  \
count                327        327     327     327  327.000000      327
unique               100         99      81       2         NaN        5
top     Jessica Chandler  East Sean  Taiwan  Female         NaN  Model X
freq                   5          5      10     165         NaN       72
mean                 NaN        NaN     NaN     NaN   48.522936      NaN
min                  NaN        NaN     NaN     NaN   18.000000      NaN
25%                  NaN        NaN     NaN     NaN   31.000000      NaN
50%                  NaN        NaN     NaN     NaN   48.000000      NaN
75%                  NaN        NaN     NaN     NaN   66.500000      NaN
max                  NaN        NaN     NaN     NaN   80.000000      NaN
std                  NaN        NaN     NaN     NaN   19.369160      NaN

                                                 Feedback    NetRevenue  \
count                                                 327    327.000000
unique                                                327           NaN
top     Eight whether change detail whom happen. Natio...           NaN
freq                                                    1           NaN
mean                                                  NaN   6591.027523
min                                                   NaN    125.000000
25%                                                   NaN   2923.500000
50%                                                   NaN   5392.000000
75%                                                   NaN   7804.500000
max                                                   NaN  50000.000000
std                                                   NaN   7224.196353

                                 Date
count                             327
unique                            NaN
top                               NaN
freq                              NaN
mean    2022-06-19 01:01:39.082568704
min               2020-01-02 00:00:00
25%               2021-04-10 12:00:00
50%               2022-05-13 00:00:00
75%               2023-09-21 12:00:00
max               2024-10-08 00:00:00
std                               NaN